<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @listing.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @listing.baths %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @listing.sale_price %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @listing.rent_price %>
</p>

<p>
  <!--
    This part must be refactored into more appropiate approach.
  -->
  <%
    sum = 0.0
    avg = 0

    @listing.reviews.each do |review|
      sum += review.rating
    end
  %>
  <%
    if @listing.reviews.size != 0
      avg = sum / @listing.reviews.size
    end
  %>

  <strong> Average rating: </strong> <%= avg %>

</p>

<!--
  display rating box here or somewhere in this page.
-->

<%= link_to 'Back', listings_path %>
